<ion-app>
  <ion-split-pane when="xg" contentId="menu-content">
    <ion-menu disabled="true" contentId="menu-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="ion-text-center">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle>
          <ion-list>
            <ion-item [routerLink]="['/venda']">
              Vender
            </ion-item>
            <ion-list>
              <ion-item [routerLink]="['/sacoles']">
                Sacolés
              </ion-item>
              <ion-item [routerLink]="['/sabor']">
                Sabores
              </ion-item>
              <ion-item [routerLink]="['/tipo']">
                Tipo
              </ion-item>
              <ion-item [routerLink]="['/tamanho']">
                Tamanho
              </ion-item>
            </ion-list>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
