<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Sistema</ion-title>
      <ion-icon name="log-out" (click)="sair()" padding slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      Temperatura São Borja
    </ion-card-header>
    <ion-card-content>
      <ion-item
        ><ion-label class="ion-text-center"
          >{{ (resposta?.weather)[0].description | titlecase}}</ion-label
        ></ion-item
      >
      <ion-item>
        <ion-label>{{ resposta?.main.temp | number:'1.0-0' }}°C </ion-label>
        <ion-label class="ion-text-center"><img [src]="icone"/></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
